<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<section class="row">
  <div class="col-4" style="padding-right: 0" >
    <button  class="btn btn-secondary btn-sm visibility" (click)="setFilter()">check alive < 10</button>
    <button  class="btn btn-secondary  btn-sm visibility" (click)="setGetAll()">get all</button>
    <app-data-grid [getAll] = getAll [filtering]=filtering [client]=clients></app-data-grid>
  </div>
  <div class="col-4" style="padding: 0">
    <!--<app-data-grid-sessions [client]=clients></app-data-grid-sessions>-->
    <button class="btn btn-secondary btn-sm" (click)="setFilterSubscription()">subscription < 2</button>
    <button style="margin-left: 1%" class="btn btn-secondary btn-sm" (click)="setSubscriptionGetAll()">get all</button>
    <app-data-grid-subscriptions [SubscriptionGetAll] = SubscriptionGetAll [filteringSubscription]=filteringSubscription [client]=clients></app-data-grid-subscriptions>
  </div>
  <div class="col-4" style="padding: 0">
    <button class="btn btn-secondary btn-sm" (click)="setFilterSession()">session < 2</button>
    <button style="margin-left: 1%" class="btn btn-secondary  btn-sm" (click)="setSessionGetAll()" >get all</button>
    <app-data-grid-sessions [SessionGetAll] = SessionGetAll [filteringSession]=filteringSession [client]=clients></app-data-grid-sessions>
    <!--<app-data-grid [client]=clients></app-data-grid>-->
  </div>
</section>
<!--<app-data-grid [client]=clients></app-data-grid>-->
